<% title "Listing teams" %>

<h1><%= yield(:title) %></h1>

<table class="file-table">
	<col class="data" />
	<col class="data" />
	<col class="data" />
	<col class="data" />
	<tr>
	    <th>Match</th>
	    <th>Name</th>
	    <th>Winner</th>
	    <th>Actions</th>
  	</tr>

	<%= render @teams %>
</table>

<br />
<%= link_to 'New Team', new_team_path if can? :create, Team %>
