<tr valign="top">
	<td> 
		<strong><%= h(team.match.name) %></strong>
	</td>
	<td> 
		<%= h(team.match.venue) %>
	</td>
	<td> 
		<%= h(team.name) %>
	</td>
	<td> 
		<%= team.total_shares  %>
	</td>
</tr>
