<% title "Sign Up for AFL Finals Sharemarket" %>

<h1><%= yield(:title) %></h1>

<% if @round.open %>
	<%= render 'form' %>
<% else %>
	<p>This competition is now closed for new entries for the year.</p>
	<p>Please try again next year.</p>
<% end %>
