<% title "Listing rounds" %>

<h1><%= yield(:title) %></h1>

<table class="file-table">
	<col class="data" />
	<col class="data" />
	<col class="data" />
	<col class="data" />
	<tr>
	    <th>Name</th>
	    <th>Starts at</th>
	    <th>Cutoff at</th>
	    <th>Actions</th>
  	</tr>

	<%= render @rounds %>
</table>

<br />
<%= link_to 'New Round', new_admin_round_path if can? :create, Round %>
