<% title "Current Shareholdings" %>

<h1><%= yield(:title) %></h1>

<h2>Current Shareprice: <%= number_with_precision(User.current_shareprice, precision: 2) %> cents</h2>

<table class="file-table">
	<col class="file" />
	<col class="data" />
    <tr>
    	<th>Name</th>
    	<th>Shares remaining</th>
  	</tr>

	<%= render @users %>
</table>
