<% title "Listing matches" %>

<h1><%= yield(:title) %></h1>

<table class="file-table">
	<col class="data" />
	<col class="data" />
	<col class="data" />
	<col class="data" />
	<col class="data" />
	<tr>
	    <th>Round</th>
	    <th>Name</th>
		<th>Venue</th>
		<th>Allow only one team</th>
	    <th>Actions</th>
  	</tr>

	<%= render @matches %>
</table>

<br />

<%= link_to 'New Match', new_match_path if can? :create, Match %>
