/* SEMANTIC ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic ul.errors { list-style:none; }
form.formtastic ul.errors li { font-weight:bold; }

/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li p.inline-errors { font-weight:bold; }

/* STRING & NUMERIC OVERRIDES
--------------------------------------------------------------------------------------------------*/
.formtastic .stringish input {
  width:auto;
}
