body, p, td, th {
  font-family: Trebuchet, Tahoma, Arial, sans-serif;
}

body, p {
  font-size:12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Times, Times New Roman, serif;
  color:#083e46;
}

.action {
  font-size: smaller;
}

.info {
  font-size: small;
  padding-top: 12px;
  margin-left: 768px;
}

#header, #footer {background-color:#d8635a}
#middle {background-color: #d8827b }
#main {background-color:#ffffff }

a {
  color:#19626c; 
  text-decoration:underline;
}

a:visited {color:#4da9b5;}

a:hover {
  color:#FFF; 
  text-decoration:underline;
}

#nav, #nav ul {
  list-style: none;
}

  #sidebar #nav li {
    color: #FFFFFF;
    border-bottom: 1px solid #B03127;
    font-size:12px;
  }

  #sidebar #nav a:link, #sidebar #nav a:visited {
    text-decoration: none;
    color: #FFFFFF;
  }

  #sidebar #nav a:hover {
    color: #FFFFFF;
    background-color: #B03127;
  }

  #sidebar #nav ul li {
    border: 0 none transparent;
    border-bottom: 1px solid #d8827b;
    border-left: 1px solid #d8827b;
    border-right: 1px solid #d8827b;
    background-color: #d8635a;
    font-size: 100%;
    font-weight: normal;
    width: 10em;
  }

#header p {
  color: #FFFFFF;
}

.list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

/* START:pagination styles */
.pagination a {
    text-decoration: none;
    color: #083F46;
  padding: 3px;
    margin: 3px;
}
  .pagination a {
      padding: 2px 5px 2px 5px;
      margin: 2px;
      border: 1px solid #aaaadd;
  }
    .pagination a:hover, .pagination a:active {
        color: #fff;
        border: 1px solid #083F46;
    }
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #083F46;
    font-weight: bold;
      background-color: #083F46;
      color: #FFF;
  }
    .pagination span.disabled {
      padding: 2px 5px 2px 5px;
      margin: 2px;
      border: 1px solid #eee;
        color: #ddd;
    }
/* END:pagination styles */

.file-table {
   border: 1px solid #852a85;
   border-collapse: collapse;
} 
  .file-table a:link, .file-table a:visited {
    color: #EEE;
  }
  .file-table col.file {
     background-color: #4DA9B5;
     color: #EEE; 
     width: 20em;
  } 
  .file-table col.data {
     background-color: #69ACB5;
     color: #EEE; 
  } 
  .file-table td {
     color: #EEE;
     border:2px solid #CCC;
     padding: 0.3em; 
  } 
  .file-table th {
     border:2px solid #CCC;
     background-color: #19626C;
     color: #FFFFFF;
     font-weight: bold;
     text-align: left;
     padding: 0.3em; 
  }

/* The error box */
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    background-color: #c00;
    text-align: left;
    font-size: 1em;
    color: #fff;
  }
  p {
    margin-bottom: 0;
    padding: 5px;
    color: #333;
  }
  ul li {
    list-style: none;
    font-size: 1em;
  }
}
